<div class="items">
<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>
<br>
<% @items.each do |item| %>
    <% if item.inventory > 0 %>
      <div class="sub_item"><p><%= item.title %> - $<%= item.price.to_f/100 %> <%= button_to 'Add to Cart', line_items_path(item_id: item) if logged_in? %></p></div>
    <% end %>
<% end %>
</div>
